@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
	background:#fff;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.hero-banner-div { margin:0; padding:0; position:relative; background:url(../images/hero-bg.jpg) no-repeat top center; height:762px; background-size:cover;z-index:1;}

.hero-img{  background:url(assets/images/hero-qr-code.png) no-repeat right 0; position:absolute; width:784px; height:1392px; top:50px; left:50%; z-index:11;}

.header-div { margin:0; padding:10px 0; position:absolute; width:100%; z-index:10; }
.header-top-div {}
.fixed-header {background-color:rgba(13,60,93,0.9); position:fixed; top:0; left:0; width:100%; height:60px; z-index:11122332; padding:10px;}

.header-div .logo-div{ margin:0; padding:0; position:relative; float:left;}
.header-div .top-link-div{ margin:0; padding:0; position:relative; float:right; text-align:right;}
.header-div .top-link-div .signup-link{ margin:0 20px 0 0; padding:0; color:#fff; font-size:13px; display:inline-block;}
.header-div .top-link-div .signup-link:hover { color:#f7da53;}
.header-div .top-link-div .login-link{ margin:0; padding:8px 20px;color:#368efb; font-size:13px; display:inline-block; border-radius:12px; background:#fff;}
.header-div .top-link-div .login-link:hover { background-color:#5533ff; color:#fff;}

.banner-caption-div { margin:0; padding:200px 0 0 0; position:relative; width:100%;}
.banner-caption-div h1{ margin:0 0 10px 0; padding:0; color:#fff; font-size:36px; text-transform:uppercase; letter-spacing:1px;}
.banner-caption-div h2{ margin:0 0 40px 0; padding:0; color:#fff; font-size:48px; font-weight:700; text-transform:uppercase; letter-spacing:1px;}
.banner-caption-div p{ margin:0; padding:0; color:#fff; font-size:24px; text-transform:uppercase; letter-spacing:1px; line-height:32px;}
.banner-caption-div .banner-btn-div{ margin:30px 0 0 0; padding:0; position:relative;}
.banner-caption-div .banner-btn-div .getstarted-link{ margin:0 20px 0 0; padding:10px 30px; border-radius:8px; background:#0d3b5d; color:#fff; font-size:18px; font-weight:700; display:inline-block;}
.banner-caption-div .banner-btn-div .getstarted-link:hover { background:#fff; color:#0d3b5d;}
.banner-caption-div .banner-btn-div .free-link{ margin:0; padding:10px 30px; border-radius:8px; background:#fff; color:#42b4e7; font-size:18px; font-weight:700; display:inline-block;}
.banner-caption-div .banner-btn-div .free-link:hover { background:#fff; color:#0d3b5d;}

.content-area { margin:0; padding:0; position:relative; z-index:1; }
.intro-div { margin:0; padding:100px 0; position:relative; overflow:hidden;  }
.qrcode{  background:url(../images/qr-code.png) no-repeat right 0; position:absolute; display:flex; right:-200px; top:50px; height:554px; width:556px;}
.intro-div h2{ margin:0 0 30px 0; padding:0; color:#0d3b5d; font-size:32px; font-weight:700; text-transform:uppercase;z-index:12;}
.intro-div p{ margin:0 0 20px 0; padding:0; color:#666; font-size:14px; line-height:24px;z-index:12;}

.btn-link-div { margin:20px 0 0 0; padding:0; position:relative;z-index:12;}
.btn-link-div a{ margin:0; padding:10px 30px; background:#0d3b5d; color:#12b0c9; font-size:18px; border-radius:8px; display:inline-block;}
.btn-link-div a:hover { background:#12b0c9; color:#fff;}

.qr-generator-div { margin:30px 0 0 0; padding:50px 0 80px 0; position:relative; background:#f6f9fc;z-index:12; }

.qr-tab-div { margin:0; padding:60px 0; position:relative;}
.qr-tab-div .nav-tabs{ margin:0; padding:0; border:0;}
.qr-tab-div .nav-tabs > li{ margin:0 0 5px 0; padding:0; border:0; width:100%; vertical-align:middle;}
.qr-tab-div .nav-tabs > li > a{ margin:0; padding:10px; border:0; width:100%; line-height:normal; display:block; border-radius:0;background-color:transparent;vertical-align:middle;
color:#3c91de; font-size:16px; font-weight:700;
}
.qr-tab-div .nav-tabs > li > a:hover {border:0; line-height:normal; display:block;color:#222; background-color:#fff!Important;
box-shadow:0 0 6px #ddd; border-radius:2px!important;}
.qr-tab-div .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:0!Important; line-height:normal; display:block; background-color:#fff!Important;
box-shadow:0 0 6px #ddd; color:#222; border-radius:2px!important;
}
.qr-tab-div .nav-tabs > li > a span { vertical-align:middle; display:inline-block; margin-right:10px;}
.qr-tab-div .nav-tabs > li > a .tab-1-icon { background:url(../images/tab-icons.png) no-repeat 0 0; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a .tab-2-icon { background:url(../images/tab-icons.png) no-repeat -43px 0; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a .tab-3-icon { background:url(../images/tab-icons.png) no-repeat -85px 0; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a .tab-4-icon { background:url(../images/tab-icons.png) no-repeat -126px 0; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a .tab-5-icon { background:url(../images/tab-icons.png) no-repeat -172px 0; width:23px; height:29px; display:inline-block;}

.qr-tab-div .nav-tabs > li > a:hover .tab-1-icon, .qr-tab-div .nav-tabs > li.active > a .tab-1-icon { background:url(../images/tab-icons.png) no-repeat 0 -31px; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a:hover .tab-2-icon, .qr-tab-div .nav-tabs > li.active > a .tab-2-icon { background:url(../images/tab-icons.png) no-repeat -43px -31px; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a:hover .tab-3-icon, .qr-tab-div .nav-tabs > li.active > a .tab-3-icon { background:url(../images/tab-icons.png) no-repeat -85px -31px; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a:hover .tab-4-icon, .qr-tab-div .nav-tabs > li.active > a .tab-4-icon { background:url(../images/tab-icons.png) no-repeat -126px -31px; width:29px; height:29px; display:inline-block;}
.qr-tab-div .nav-tabs > li > a:hover .tab-5-icon, .qr-tab-div .nav-tabs > li.active > a .tab-5-icon { background:url(../images/tab-icons.png) no-repeat -172px -31px; width:23px; height:29px; display:inline-block;}

.qr-tab-div .qr-tab-content{ margin:50px 0 0 0; padding:40px; position:relative; border-radius:0; background-color:#fff; box-shadow:0 0 8px #ddd; border-radius:8px;}
.qr-tab-div .qr-tab-content p{ margin:0; padding:0; color:#666; font-size:14px; line-height:24px;}


.block-title {margin:0 0 10px 0; padding:0; color:#0d3b5d; font-size:30px; font-weight:700; text-transform:uppercase;}
.sub-block-title { margin:0 0 30px 0; padding:0; color:#666; font-size:14px;}

.white-btn-link-div { margin:20px 0 0 0; padding:0; position:relative;}
.white-btn-link-div a{ margin:0; padding:10px 30px; background:#fff; color:#12b0c9; font-size:18px; border-radius:8px; display:inline-block;}
.white-btn-link-div a:hover { background:#0d3b5d; color:#fff;}

.two-block-div { margin:0 auto; padding:40px 0; position:relative; background:url(../images/two-action-bg.jpg) no-repeat center center; background-size:cover; z-index:12;}
.two-block-div .two-block-box{ margin:0; padding:0; position:relative;}
.two-block-div .two-block-box h2{ margin:0 0 20px 0; padding:0; color:#fff; font-size:24px;}
.two-block-div .two-block-box p{ margin:0; padding:0; color:#f3f3f3; font-size:14px; line-height:24px;}

.two-block-div .two-block-box-2{ margin:0; padding:0 0 0 60px; position:relative;}
.two-block-div .two-block-box-2 h2{ margin:0 0 20px 0; padding:0; color:#fff; font-size:24px;}
.two-block-div .two-block-box-2 p{ margin:0 0 20px 0; padding:0; color:#f3f3f3; font-size:14px; line-height:28px;}

.chkmark-ul-white { margin:0; padding:0;}
.chkmark-ul-white li{ margin:0; padding:0 0px 0 25px; color:#f3f3f3; font-size:14px; line-height:32px; background: url('../images/checkmark-icon.png') no-repeat center left; vertical-align:middle; display:block;}

.white-ol { margin:0 0 0 20px; padding:0;}
.white-ol li{ margin:0; padding:0; color:#badae2; font-size:14px; line-height:24px;line-height:32px;}

.price-plan-div{ margin:0; padding:40px 0 60px 0; position:relative; background:#f4f4f6;z-index:12;}
.price-plan-div .price-plan-block{ margin:0 20px 0 0; padding:0; position:relative; float:left; width:32%; text-align:center;}
.price-plan-div .price-plan-block:last-child { margin-right:0;}
.price-plan-div .price-plan-block.price-plan-block-1{ background:#fff; box-shadow:0 3px 3px #ddd; border-radius:8px; margin-top:25px;}
.price-plan-div .price-plan-block.price-plan-block-2{ background:#0d3b5d; box-shadow:0 3px 3px #666; border-radius:8px; padding-top:25px;}

.price-plan-div .price-plan-block.price-plan-block-1 .top-block { margin:0; padding:0; border-bottom:1px solid #ddd;}
.price-plan-div .price-plan-block.price-plan-block-1 .btm-block { margin:0; padding:0;}

.price-plan-div .price-plan-block.price-plan-block-1 h2{ margin:20px 0; padding:0; color:#000; font-size:18px; font-weight:700; text-transform:uppercase;}
.price-plan-div .price-plan-block.price-plan-block-1 h3{ margin:0 0 20px 0; padding:0; color:#7a50e4; font-size:24px; font-weight:700; text-transform:uppercase;}
.price-plan-div .price-plan-block.price-plan-block-1 h4{ margin:20px 0; padding:0; color:#0d3b5d; font-size:24px; font-weight:700; text-transform:uppercase;}
.price-plan-div .price-plan-block.price-plan-block-1 h4 span { font-size:18px;}
.price-plan-div .price-plan-block.price-plan-block-1 h5{ margin:0; padding:0; color:#0d3b5d; font-size:12px;}

.price-plan-div .price-plan-block.price-plan-block-1 .block-txt{ margin:0; padding:30px 20px 20px 20px; color:#222; font-size:14px; vertical-align:middle;}
.price-plan-div .price-plan-block.price-plan-block-1 .block-txt span { margin:0 0 25px 0; padding:0; display:block; height:30px;}
.price-plan-div .price-plan-block.price-plan-block-1 .block-txt .txt-1{ width:30%; float:left; text-align:center; font-weight:700;}
.price-plan-div .price-plan-block.price-plan-block-1 .block-txt .txt-2{ width:70%; float:left; text-align:left;}

.price-plan-div .price-plan-block.price-plan-block-2 .top-block { margin:0; padding:0; border-bottom:1px solid #ddd;}
.price-plan-div .price-plan-block.price-plan-block-2 .btm-block { margin:0; padding:0 0 50px 0;}

.price-plan-div .price-plan-block.price-plan-block-2 h2{ margin:20px 0; padding:0; color:#dbdbdb; font-size:18px; font-weight:700; text-transform:uppercase;}
.price-plan-div .price-plan-block.price-plan-block-2 h3{ margin:0 0 20px 0; padding:0; color:#fff; font-size:24px; font-weight:700; text-transform:uppercase;}
.price-plan-div .price-plan-block.price-plan-block-2 h4{ margin:20px 0; padding:0; color:#fff; font-size:24px; font-weight:700; text-transform:uppercase;}
.price-plan-div .price-plan-block.price-plan-block-2 h4 span { font-size:18px;}
.price-plan-div .price-plan-block.price-plan-block-2 h5{ margin:0; padding:0; color:#d4d4d4; font-size:12px;}

.price-plan-div .price-plan-block.price-plan-block-2 .block-txt{ margin:0; padding:30px 20px 20px 20px; color:#d4d4d4; font-size:14px; vertical-align:middle;}
.price-plan-div .price-plan-block.price-plan-block-2 .block-txt span { margin:0 0 25px 0; padding:0; display:block; height:30px;}
.price-plan-div .price-plan-block.price-plan-block-2 .block-txt .txt-1{ width:30%; float:left; text-align:center; font-weight:700;}
.price-plan-div .price-plan-block.price-plan-block-2 .block-txt .txt-2{ width:70%; float:left; text-align:left;}

.price-plan-div .price-plan-block .btm-buy-now { margin:0;  border-top:1px solid #ddd;}
.price-plan-div .price-plan-block .btm-buy-now a {padding:20px 0; background:#f6f9fc; border-radius:0 0 8px 8px; color:#0d3b5d; font-size:18px; font-weight:700; text-align:center; display:block; text-transform:uppercase;}
.price-plan-div .price-plan-block .btm-buy-now a:hover { background:#60a1e2; color:#fff; }

.faq-div {margin:0; padding:40px 0; position:relative;z-index:12;}
.faq-div .faq-accordian-div{margin:0; padding:40px 0; position:relative;}
.faq-txt { margin:0 0 15px 12px; padding:0; font-weight:400; color:#666; font-size:14px; line-height:24px;}
.faq-div .icon-plus { background:url(../images/plus.png) no-repeat; width:22px; height:22px; }
.faq-div .icon-minus { background:url(../images/minus.png) no-repeat; width:22px; height:22px;}

/*******************************
* Does not work properly if "in" is added after "collapse".
*******************************/
.panel-default > .panel-heading {
    color: #222;
    background-color: #fff!important; border:0!important;
}
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none!important;; border-radius:0!important;border:0!important;
    }

    .panel-default > .panel-heading {
        padding: 10px 0;
        border-radius: 0;
        color: #222; 
    }

    .panel-title {
        font-size: 14px; font-weight:700;
    }

    .panel-title > a {
        display: block;
        padding: 0;
        text-decoration: none;
    }

    .more-less {
        float: left;
        color: #212121;display:inline-block; width:20%;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE; border:0!important;
    }
	
	.accordion-txt { float:left; display:inline-block; width:80%; margin:0 0 0 10px;}

/* ----- v CAN BE DELETED v ----- */


.footer-div { margin:0; padding:15px 0; position:relative; text-align:center; background:#f6f9fc; border-top:1px solid #ddd;}
.footer-div p { margin:0; padding:0; color:#666; font-size:13px; text-align:center; line-height:20px;}
.footer-div a{ color:#0d3b5d; text-decoration:underline;}
.footer-div a:hover{ color:#000; text-decoration:none;}
.footer-div .footer-txt-1{ float:left;}
.footer-div .footer-txt-2 { float:right; text-align:right;}

#back-to-top { margin:0; padding:0; position:absolute; right:20px; bottom:20px; cursor:pointer; z-index:13;}
#back-to-top span { margin:0; padding:0; position:relative; border-radius:50px; width:50px; height:50px; text-align:center; line-height:50px; color:#fff; font-size:18px; font-weight:700; background:#0d3b5d; display:inline-block;}

.overflowhidden { overflow-x:hidden;}


@media only screen and (max-width: 767px){
	html, body { overflow-x:hidden;}
	.container { width:100% !important;}	
	.canvas { margin:0!important; padding:0!important;}
	
	.header-top-div{background-color:rgba(13,60,93,0.9); position:fixed; top:0; left:0; width:100%; height:100px; z-index:11122332; padding:10px;}
	
	.hero-img { display:none;}
	.header-div .top-link-div { margin-top:10px;}
	.banner-caption-div { padding-top:150px;}
	
	.banner-caption-div .banner-btn-div .free-link{ font-size:14px;}
	.banner-caption-div .banner-btn-div .getstarted-link { font-size:14px; margin-bottom:20px;}
	
	.btn-link-div a { font-size:16px;}
	
	.intro-div { padding-bottom:20px;}
	
	.qr-tab-div .txt { display:none!important;}
	.qr-tab-div .qr-tab-content { margin-top:0;}
	.qr-tab-div .nav-tabs > li > a { text-align:center;}
	.qr-tab-div .col-mb-1 { width:70%; float:left;}
	.qr-tab-div .col-mb-2 { width:30%; float:left;}
	.qr-tab-div .qr-tab-content { padding:20px;}
	
	.two-block-div { background:none; padding:0;}
	.two-block-div .container, .two-block-div .row, .two-block-div .col-md-6, .two-block-div .col-sm-6 { margin:0; padding:0;}
	
	.two-block-div .two-block-box { background:#31a7cd url(../images/two-action-1.jpg) repeat-x; padding:20px 10px!Important;}
	.two-block-div .two-block-box-2 { background:#45b7cf url(../images/two-action-2.jpg) repeat-x; padding:20px 10px!Important;}
	.chkmark-ul-white li { font-size:13px;}
	.two-block-div .two-block-box-2 p{ font-size:13px; line-height:20px;}
	
	.price-plan-div .price-plan-block.price-plan-block-1 { margin-top:0!important;}
	.price-plan-div .price-plan-block.price-plan-block { width:90%; float:none; margin:0 auto 20px auto;}
	.faq-div .faq-accordian-div { padding:40px 20px;}
	
	.white-btn-link-div a { font-size:14px;}
	
	.footer-div { padding:15px; }
	.footer-div .footer-txt-1{ float:none;text-align:center; }
	.footer-div .footer-txt-2 { float:none; text-align:center; }
	.footer-div .span-phone {display:block;}

#back-to-top { bottom:80px;}
	
	
}
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}
/*
@media only screen and (min-width: 640px){
	.header-section .logodiv img { max-width:28%; }
}*/

.phy-here-img-1 { display:none;}
.phy-here-img-2 { display:none;}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	.header-top-div{background-color:rgba(13,60,93,0.9); position:fixed; top:0; left:0; width:100%; height:60px; z-index:11122332; padding:10px;}
	
	.hero-banner-div { height:500px;}
	.banner-caption-div { padding-top:150px;}
	
	.hero-img { display:none;}
	.phy-here-img-1 { display:block; position:absolute; z-index:11; width:100%; max-width:50%; height:50%; right:-100px; top:150px;}
	.phy-here-img-2 { display:block; position:absolute; z-index:11; width:100%; max-width:40%; height:50%; right:0px; top:150px;}
	.qr-tab-div .nav-tabs > li > a { font-size:14px;}
	.qr-tab-div .qr-tab-content { margin-top:0;}
	
	.intro-div { padding:50px 0;}
	
	.two-block-div { background:none;}
	.two-block-div .container, .two-block-div .row, .two-block-div .col-md-6, .two-block-div .col-sm-6 { margin:0; padding:0;}
	.two-block-div .two-block-box { background:url(../images/two-action-1.jpg) repeat-x; padding:40px 10px!Important;}
	.two-block-div .two-block-box-2 { background:url(../images/two-action-2.jpg) repeat-x; padding:40px 10px!Important;}
	.chkmark-ul-white li { font-size:13px;}
	.two-block-div .two-block-box-2 p{ font-size:13px; line-height:20px;}
	
	.two-block-div { background:none; padding:0;}
	
	.price-plan-div .price-plan-block.price-plan-block  { width:31%;}
	
	.price-plan-div .price-plan-block.price-plan-block-1 .block-txt { font-size:13px;}
	.price-plan-div .price-plan-block.price-plan-block-2 .block-txt { font-size:13px;}
	.price-plan-div .price-plan-block.price-plan-block-1 .block-txt .txt-1 { width:40%;}
	.price-plan-div .price-plan-block.price-plan-block-1 .block-txt .txt-2 { width:60%;}
	.price-plan-div .price-plan-block.price-plan-block-2 .block-txt .txt-1 { width:40%;}
	.price-plan-div .price-plan-block.price-plan-block-2 .block-txt .txt-2 { width:60%;}
	
	.faq-div .faq-accordian-div { padding:40px 20px;}
	
	
	
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	.nav-div .navbar-nav > li > a { padding:10px 8px; }
	
	
}
