label.error {
    color: red;
}



.sidebar {background-color: #0a65d9;}
.header-highlight .navbar-header:not([class*=bg-]) {
    background-color: #263238;
    -webkit-box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
}
.header-highlight .navbar-header:not([class*=bg-]) {background-color:#0a65d9;}

.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus {background-color: #0a65d9;color: #fff;}
	
.navbar-brand {float: left;    padding: 2px 23px;font-size: 14px;line-height: 20px;height: 44px;}

.navbar-brand>img {margin-top: 5px;height: 30px;margin: 5px auto 0 auto;}

.navigation>li>a { color: #fff;}
.navigation li a {color: rgba(255, 255, 255, 1);}

.media-heading {margin-bottom: 2px;margin-top: 8px;display: block;}

.panel.panel-white{background-color:#fff;}

.icon-push{    color: #454e59;font-size:13px;}

.account-span {display: block;color: #fa4356;font-size: 16px;}

.panel-flat>.panel-heading {padding-top: 10px;padding-bottom: 10px;}

.btn-1{background-color:#0a65d9;width:150px;color:white;font-weight: bold;letter-spacing:1px;}
.btn-1:hover{background-color:#0a65d9;width:150px;color:white;font-weight: bold;letter-spacing:1px;}

.btn-2{margin:2% 0;background-color:#0a65d9;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}
.btn-2:hover{margin:2% 0;background-color:#0a65d9;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}

.authorize-div{margin:1% 0;}

.add-area { margin:0; padding:0% 0 40% 0; position:relative;}
.add-area .add-div {margin: 0;padding: 0;position: relative;}
.add-area .add-card{margin: 0 auto;padding: 0px;background-color: rgb(250, 250, 250); }
.add-area .add-card.add-cardboard { width: 100%;}
.add-area .facebook-ads{margin: 0 auto;padding: 0;text-align: center;}
.add-area .facebook-ads img{margin: 0 auto;padding: 10% 10% 10% 10%;text-align: center;vertical-align: middle;}
.add-area .alert-danger {margin: 0px;color: #17466b;background-color: #dcd9d7;border:none;font-size: 16px;border-radius: 0px;}
.add-area .alert-dismissable .close, .alert-dismissible .close { position: relative;top: 2px;right: 0;color: #000!important;font-size: 20px;font-weight: bold;}
.add-area .border-ads{margin: 0% auto 5% auto;text-align: center;height: 6px;width: 80%;background-color:#dcd9d7;border-radius: 5px; }

.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}

.pagination-div{  padding: 15px 0px 10px 0px;background-color: #fff;display: block;float: right;}

.top-section{  margin: 0px 0 0px 0;padding: 0;position: relative;  }

.top-section .page-header{ margin: 0;padding: 0;border-bottom-width: 0;}
.top-section .page-header-content {background-color:#fff;padding: 0 20px;margin: 0 0 10px 0;}
/*.top-section .page-title {padding: 30px 36px 30px 0;display: block;}*/
.top-section .page-title {padding: 30px 0px 28px 0;}
.top-section .heading-elements {background-color: #fff;position: relative;}
.top-section .panel-body {padding: 10px 20px;}
.top-section .col-20{width: 19%;display: inline-block;position: relative;margin: 4px 0;padding: 0 2px;line-height: 1.4;float: left;}
.top-section .panel {margin-bottom: 0px;border-color: #baaf50;text-align: center;}
.top-section h6.panel-title, .h6.panel-title {font-size: 16px;}

.top-section .heading-btn-group-div li { float: left;margin: 0 auto;padding: 0;text-align: center;display: inline-block;width: 20%;border: 0px solid #ccc;}
.top-section .img-top{width: 40%;}

.bg-white-custom-p{background-color: #fff;padding:0;}
.panel>.table-responsive>.table{border:1px solid #ddd;}
.padding-10{padding:0 20px;}

/* qr code */

svg{margin:auto!important;}

h5.panel-title, .h5.panel-title {font-size: 18px;padding: 10px 10px;text-transform:uppercase; }
h5.panel-title.order, .h5.panel-title.order {font-size: 18px;padding: 10px 0px;text-transform:uppercase; }

.btn.btn-blue{background-color: #03a9f4;color: #fff;border-radius: 20px;}
.btn.btn-blue:hover{background-color: #03a9f4;color: #fff;opacity: 1;}
.btn.btn-red{background-color: transparent;color:#f90053;border-radius: 20px;}
.btn.btn-red:hover{background-color:transparent;color:#f90053;opacity: 1;}



.datatable-header{display: none;}
.input-group-addon:last-child{    background-color: #03a9f4;border-top-right-radius: 4px;border-bottom-right-radius: 4px;color: #fff;}
.input-group-addon{border:none;}
.panel-body-1{padding:0 0 20px 0!important;}
.label-font{font-size: 11px!important;}

.table>tbody>tr>td{ border-bottom: 1px solid #ddd; }
.border-panel{border:1px solid #ddd;}
.panel>.table-responsive {    border: 0;margin-bottom: 0;margin: 0px 20px 0px 20px;border-radius: 4px;}
.pagination>.active>a{    background-color: #03a9f4;border-color: #03a9f4;}

.row-1.size{margin:0px;padding:0px;max-height:500px;}
.row-1.size img{margin:0px;padding:0px;max-height:500px;}

.list-dashboard{margin:0 0 20px 0;padding: 10px;position: relative;border-radius: 4px;text-align: center;background: #fff;}
.list-dashboard h2{color: #0a65d9;font-size: 18px;letter-spacing: 0.5px;}
.list-dashboard p{color: rgb(31, 30, 30);font-size: 18px;letter-spacing: 1.5px;}
.list-dashboard-color-1{background-color:#eee;color: #0a65d9;}

.panel-color{background-color:#ddd!important;    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);}
.dashboard-section{margin:0;padding:35px 0 0 0;}

.no-padd{padding: 0 !important;}

.content-section{padding:0px 10px;}

.qr-code-icon{    padding: 20px;border: 1px solid #ec407a;border-radius: 50em;color: #ec407a;font-size: 32px;line-height: 1;text-align:center;}

.uppercase{text-transform:uppercase !important;}

.text-blue-custom{color:#ec407a;}

.span-absolute {    position: absolute;top: 15px;font-size: 32px;left: 0;right: 0;}

.text-color-custom-1{color: rgb(66, 165, 245);}
.text-color-custom-2{color: rgb(239, 83, 80);}
.text-color-custom-3{color: rgb(92, 107, 192);}
.text-color-custom-4{color: rgb(102, 187, 106);}
.text-color-custom-5{color: rgb(239, 83, 80);}

.panel-body.panel-265{min-height:265px;}

.footer.text-muted{
    position: absolute;
    bottom: 20px;	
}

/* ===========================  Mobile screen and tablet screen =================================== */
@media (min-width: 769px){
    .sidebar-xs .sidebar-main .navigation-main>li>a>span{background-color: #0a65d9;}

	}


@media only screen and (max-width: 767px){
.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}	

.btn-2{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}
.btn-2:hover{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}

.add-area .facebook-ads img {    margin: 0 auto;padding: 10% 10% 10% 10%;}
.add-area {margin: 0;padding: 0% 0 0% 0;position: relative;}
.top-section .heading-btn-group-div li {    width: 50%;height: 85px;position: relative;margin: 0 auto;}
.top-section .heading-btn-group-div ul {padding-left: 0px;}
.top-section .page-title {padding: 30px 0px 28px 0;text-align: center;}
.heading-elements-toggle {right: 20px;display: none;}

.pagination {
    padding: 0;
    margin: 15px 15px 10px 15px;
}


/* dashboard - qrcode */
.navbar-brand>img {
    margin-top: 5px;
    height: 30px;
    margin: 7px auto 0 auto;
}
.navbar-brand {float: left;padding: 0px 35px;font-size: 14px;line-height: 20px;height: 0px;}

.col-lg-2.col-20 {
    width: 100%;
}

.panel>.table-responsive {
	border: 0;
	margin-bottom: 0;
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
}
.panel>.table-responsive>.table {
    border: 0px solid #ddd;
}
.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.row-1.size img {
    margin: 0px;
    padding: 0px;
    max-height: 100%;
	width:100%;
}

}

@media only screen and (min-width: 769px) and (max-width:975px) {
    .hide-tab{display: none;}
    .nav>li>a {position: relative;display: block;padding: 9px 5px;}
}
@media only screen and (min-width: 768px) and (max-width:1023px) {
	.col-lg-2.col-20 {
		width: 50%;
	}
	.heading-elements-toggle>i{ display:none !important;}
	
	.col-sm-6 {
		width: 50%;
		display:inline-block;
		float:left;
	}
	.footer {
		position: absolute;
		left: 020px;
		bottom: 20px;
	}
	.panel>.table-responsive {
		border: 0;
		margin-bottom: 0;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
	}
	.panel>.table-responsive>.table {
		border: 0px solid #ddd;
	}

	.row-1.size {
		margin: 0px;
		padding: 20px 0 0 0;
		max-height: 500px;
	}

	.btn-1 {
		width: 100%;
		text-align:center;
	}

		
}
@media only screen and (min-width: 1024px) and (max-width:1366px) {
	.col-lg-2.col-20 {
		width: 33.33%;
	}
	.footer {
		position: absolute;
		left: 020px;
		bottom: 20px;
	}
	.panel>.table-responsive {
		border: 0;
		margin-bottom: 0;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
	}

	.panel>.table-responsive>.table {
		border: 0px solid #ddd;
	}
	.row-1.size {
		margin: 0px;
		padding: 20px 0 0 0;
		max-height: 500px;
	}
}

@media only screen and (min-width: 375px) and (max-width:812px) {
	.footer {
		position: absolute;
		bottom: 20px;
		left: 20px!important	;
	}
	.row-1.size {
		margin: 0px;
		padding: 20px 0 0 0 !important;
		max-height: 500px;
	}

	.btn-1 {
		width: 100%!important;
	}
	.footer.text-muted {
		position: relative;
		bottom: 20px;
		padding: 20px 0px 0 0;
		text-align:center;
		left:0!important;
	}
	.content {
		padding: 20px 0px;
	}
	.content-wrapper {
		padding-bottom: 10px;
		width: 100%;
	}
	

	
}
.page-container{height:890px !important;}

@media only screen and (min-width: 1201px) and (max-width:1550px) {
.page-container{height:870px !important;}

.col-lg-2 {
    width: 33.33%;
}

}

.font-head{text-transform:uppercase;color:#000;font-weight:400;}
.font-qrcode{text-transform:uppercase;}


/*===========================Latest===========================*/


.sidebar {background-color: #0a65d9;}
.header-highlight .navbar-header:not([class*=bg-]) {
    background-color: #263238;
    -webkit-box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.0) inset, 0 0px 0 rgba(255,255,255,0.1) inset;
}
.header-highlight .navbar-header:not([class*=bg-]) {background-color:#0a65d9;}

.navigation>li.active>a, .navigation>li.active>a:hover, .navigation>li.active>a:focus {background-color: #0a65d9;color: #fff;}
	
.navbar-brand {float: left;    padding: 2px 23px;font-size: 14px;line-height: 20px;height: 44px;}

.navbar-brand>img {margin-top: 5px;height: 30px;margin: 5px auto 0 auto;}

.navigation>li>a { color: #fff;}
.navigation li a {color: rgba(255, 255, 255, 1);}

.media-heading {margin-bottom: 2px;margin-top: 8px;display: block;}

.panel.panel-white{background-color:#fff;}

.icon-push{    color: #454e59;font-size:13px;}

.account-span {display: block;color: #fa4356;font-size: 16px;}

.panel-flat>.panel-heading {padding-top: 10px;padding-bottom: 10px;}

.btn-1{background-color:#0a65d9;width:150px;color:white;font-weight: bold;letter-spacing:1px;}
.btn-1:hover{background-color:#0a65d9;width:150px;color:white;font-weight: bold;letter-spacing:1px;}

.btn-2{margin:2% 0;background-color:#0a65d9;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}
.btn-2:hover{margin:2% 0;background-color:#0a65d9;width:150px;color:white;font-weight: bold;float:right;letter-spacing:1px;}

.authorize-div{margin:1% 0;}

.add-area { margin:0; padding:0% 0 40% 0; position:relative;}
.add-area .add-div {margin: 0;padding: 0;position: relative;}
.add-area .add-card{margin: 0 auto;padding: 0px;background-color: rgb(250, 250, 250); }
.add-area .add-card.add-cardboard { width: 100%;}
.add-area .facebook-ads{margin: 0 auto;padding: 0;text-align: center;}
.add-area .facebook-ads img{margin: 0 auto;padding: 10% 10% 10% 10%;text-align: center;vertical-align: middle;}
.add-area .alert-danger {margin: 0px;color: #17466b;background-color: #dcd9d7;border:none;font-size: 16px;border-radius: 0px;}
.add-area .alert-dismissable .close, .alert-dismissible .close { position: relative;top: 2px;right: 0;color: #000!important;font-size: 20px;font-weight: bold;}
.add-area .border-ads{margin: 0% auto 5% auto;text-align: center;height: 6px;width: 80%;background-color:#dcd9d7;border-radius: 5px; }

.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}

.pagination-div{  padding: 15px 0px 10px 0px;background-color: #fff;display: block;float: right;}

.top-section{  margin: 0px 0 0px 0;padding: 0;position: relative;  }

.top-section .page-header{ margin: 0;padding: 0;border-bottom-width: 0;}
.top-section .page-header-content {background-color:#fff;padding: 0 20px;margin: 0 0 10px 0;}
/*.top-section .page-title {padding: 30px 36px 30px 0;display: block;}*/
.top-section .page-title {padding: 30px 0px 28px 0;}
.top-section .heading-elements {background-color: #fff;position: relative;}
.top-section .panel-body {padding: 10px 20px;}
.top-section .col-20{width: 19%;display: inline-block;position: relative;margin: 4px 0;padding: 0 2px;line-height: 1.4;float: left;}
.top-section .panel {margin-bottom: 0px;border-color: #baaf50;text-align: center;}
.top-section h6.panel-title, .h6.panel-title {font-size: 16px;}

.top-section .heading-btn-group-div li { float: left;margin: 0 auto;padding: 0;text-align: center;display: inline-block;width: 20%;border: 0px solid #ccc;}
.top-section .img-top{width: 40%;}

.bg-white-custom-p{background-color: #fff;padding:0;}
.panel>.table-responsive>.table{border:1px solid #ddd;}
.padding-10{padding:0 20px;}

/* qr code */

svg{margin:auto!important;}

h5.panel-title, .h5.panel-title {font-size: 18px;padding: 10px 10px;text-transform:uppercase; }
h5.panel-title.order, .h5.panel-title.order {font-size: 18px;padding: 10px 0px;text-transform:uppercase; }

.btn.btn-blue{background-color: #03a9f4;color: #fff;border-radius: 20px;}
.btn.btn-blue:hover{background-color: #03a9f4;color: #fff;opacity: 1;}
.btn.btn-red{background-color: transparent;color:#f90053;border-radius: 20px;}
.btn.btn-red:hover{background-color:transparent;color:#f90053;opacity: 1;}



.datatable-header{display: none;}
.input-group-addon:last-child{    background-color: #03a9f4;border-top-right-radius: 4px;border-bottom-right-radius: 4px;color: #fff;}
.input-group-addon{border:none;}
.panel-body-1{padding:0 0 20px 0!important;}
.label-font{font-size: 11px!important;}

.table>tbody>tr>td{ border-bottom: 1px solid #ddd; }
.border-panel{border:1px solid #ddd;}
.panel>.table-responsive {    border: 0;margin-bottom: 0;margin: 0px 20px 0px 20px;border-radius: 4px;}
.pagination>.active>a{    background-color: #03a9f4;border-color: #03a9f4;}

.row-1.size{margin:0px;padding:0px;max-height:500px;}
.row-1.size img{margin:0px;padding:0px;max-height:500px;}

.list-dashboard{margin:0 0 20px 0;padding: 10px;position: relative;border-radius: 4px;text-align: center;background: #fff;}
.list-dashboard h2{color: #0a65d9;font-size: 18px;letter-spacing: 0.5px;}
.list-dashboard p{color: rgb(31, 30, 30);font-size: 18px;letter-spacing: 1.5px;}
.list-dashboard-color-1{background-color:#eee;color: #0a65d9;}

.panel-color{background-color:#ddd!important;    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);}
.dashboard-section{margin:0;padding:35px 0 0 0;}

.no-padd{padding: 0 !important;}

.content-section{padding:0px 10px;}

.qr-code-icon{    padding: 20px;border: 1px solid #ec407a;border-radius: 50em;color: #ec407a;font-size: 32px;line-height: 1;text-align:center;}

.uppercase{text-transform:uppercase !important;}

.text-blue-custom{color:#ec407a;}

.span-absolute {    position: absolute;top: 15px;font-size: 32px;left: 0;right: 0;}

.text-color-custom-1{color: rgb(66, 165, 245);}
.text-color-custom-2{color: rgb(239, 83, 80);}
.text-color-custom-3{color: rgb(92, 107, 192);}
.text-color-custom-4{color: rgb(102, 187, 106);}
.text-color-custom-5{color: rgb(239, 83, 80);}

.panel-body.panel-265{min-height:265px;}

.footer.text-muted{
    position: absolute;
    bottom: 20px;	
}


/* ===========================  Mobile screen and tablet screen =================================== */
@media (min-width: 769px){
    .sidebar-xs .sidebar-main .navigation-main>li>a>span{background-color: #0a65d9;}

	}


@media only screen and (max-width: 767px){
.page-header+.content {
    padding-top: 0;
    padding-bottom: 5%;
}	

.btn-2{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}
.btn-2:hover{margin:2% 0;background-color:#5CAFDE;width:150px;float:none;}

.add-area .facebook-ads img {    margin: 0 auto;padding: 10% 10% 10% 10%;}
.add-area {margin: 0;padding: 0% 0 0% 0;position: relative;}
.top-section .heading-btn-group-div li {    width: 50%;height: 85px;position: relative;margin: 0 auto;}
.top-section .heading-btn-group-div ul {padding-left: 0px;}
.top-section .page-title {padding: 30px 0px 28px 0;text-align: center;}
.heading-elements-toggle {right: 20px;display: none;}

.pagination {
    padding: 0;
    margin: 15px 15px 10px 15px;
}

/* dashboard - qrcode */
.navbar-brand>img {
    margin-top: 5px;
    height: 30px;
    margin: 7px auto 0 auto;
}
.navbar-brand {float: left;padding: 0px 35px;font-size: 14px;line-height: 20px;height: 0px;}

.col-lg-2.col-20 {
    width: 100%;
}

.panel>.table-responsive {
	border: 0;
	margin-bottom: 0;
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
}
.panel>.table-responsive>.table {
    border: 0px solid #ddd;
}
.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.row-1.size img {
    margin: 0px;
    padding: 0px;
    max-height: 100%;
	width:100%;
}

/* qrcode - 30 */

.span-number {
    top: 30px;
    left: 41%!important;
}
.footer.text-muted {
    position: fixed!important;
    bottom: 0!important;
    left: 0!important;
    padding: 5px 25px!important;
    background: #fff !important;
    width: 100% !important;
    margin: 0px!important;
}

}

@media only screen and (min-width: 769px) and (max-width:975px) {
    .hide-tab{display: none;}
    .nav>li>a {position: relative;display: block;padding: 9px 5px;}
}
@media only screen and (min-width: 768px) and (max-width:1023px) {
	.col-lg-2.col-20 {
		width: 50%;
	}
	.heading-elements-toggle>i{ display:none !important;}
	
	.col-sm-6 {
		width: 50%;
		display:inline-block;
		float:left;
	}
	.footer {
		position: absolute;
		left: 020px;
		bottom: 20px;
	}
	.panel>.table-responsive {
		border: 0;
		margin-bottom: 0;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
	}
	.panel>.table-responsive>.table {
		border: 0px solid #ddd;
	}

	.row-1.size {
		margin: 0px;
		padding: 20px 0 0 0;
		max-height: 500px;
	}

	.btn-1 {
		width: 100%;
		text-align:center;
	}

		
}
@media only screen and (min-width: 1024px) and (max-width:1366px) {
	.col-lg-2.col-20 {
		width: 33.33%;
	}
	.footer {
		position: absolute;
		left: 020px;
		bottom: 20px;
	}
	.panel>.table-responsive {
		border: 0;
		margin-bottom: 0;
		margin: 0px 0px 0px 0px;
		border-radius: 0px;
	}

	.panel>.table-responsive>.table {
		border: 0px solid #ddd;
	}
	.row-1.size {
		margin: 0px;
		padding: 20px 0 0 0;
		max-height: 500px;
	}
}

@media only screen and (min-width: 375px) and (max-width:812px) {
	.footer {
		position: absolute;
		bottom: 20px;
		left: 20px!important	;
	}
	.row-1.size {
		margin: 0px;
		padding: 20px 0 0 0 !important;
		max-height: 500px;
	}

	.btn-1 {
		width: 100%!important;
	}
	.footer.text-muted {
		position: relative;
		bottom: 20px;
		padding: 20px 0px 0 0;
		text-align:center;
		left:0!important;
	}
	
	.content {
		padding: 20px 0px;
	}
	.content-wrapper {
		padding-bottom: 10px;
		width: 100%;
	}
	
	/* qrcode - 30 */
	.span-number {
		top: 30px;
		left:auto;
	}
	
	.footer.text-muted {
		position: fixed;
		bottom: 0;
		padding: 10px 10px;
		text-align: left;
		left: 0!important;
		width: 100%;
		background: #f5f5f5;
	}
	.content {
		padding: 20px 10px;
	}
}
@media only screen and (min-width: 320px) and (max-width:568px) {
/* qrcode - 30 */
.span-number {
	left: auto!important;
    right: auto!important;
    text-align: center;
    width: 100%;
}
}

.page-container{height:890px !important;}

@media only screen and (min-width: 1201px) and (max-width:1550px) {
.page-container{height:870px !important;}

.col-lg-2 {
    width: 33.33%;
}

}

.font-head{text-transform:uppercase;color:#000;font-weight:400;}
.font-qrcode{text-transform:uppercase;}

/* qrcode - 30 */

.loader {
    border: 3px solid #f3f3f3;
    margin: 0 auto;
    border-radius: 50%;
    border-top: 3px solid #97b3f5;
    border-bottom: 3px solid #97b3f5;
	color: #97b3f5;
	width: 85px;
    height: 85px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}

.loader-2 {
    border: 3px solid #f3f3f3;
    margin: 0 auto;
    border-radius: 50%;
    border-top: 3px solid rgb(239, 83, 80);
    border-bottom: 3px solid rgb(239, 83, 80);
	color: #97b3f5;
	width: 85px;
    height: 85px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}

.loader-3 {
    border: 3px solid #f3f3f3;
    margin: 0 auto;
    border-radius: 50%;
    border-top: 3px solid rgb(92, 107, 192);
    border-bottom: 3px solid rgb(92, 107, 192);
	color: #97b3f5;
	width: 85px;
    height: 85px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}
.loader-4 {
    border: 3px solid #f3f3f3;
    margin: 0 auto;
    border-radius: 50%;
    border-top: 3px solid rgb(102, 187, 106);
    border-bottom: 3px solid rgb(102, 187, 106);
	color: #97b3f5;
	width: 85px;
    height: 85px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}

.loader-5 {
    border: 3px solid #f3f3f3;
    margin: 0 auto;
    border-radius: 50%;
    border-top: 3px solid rgb(239, 83, 80);
    border-bottom: 3px solid rgb(239, 83, 80);
	color: #97b3f5;
	width: 85px;
    height: 85px;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 2s ease-in-out infinite;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.span-number {
    text-align: center;
    display: block;
    position: absolute;
    top: 30px;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}

.content-group-sm {
    margin-bottom: 0px !important;
}



.panel-height{
    height: 215px!important;
}

@media only screen and (min-width: 1024px) and (max-width:1366px) {
	.span-number {
    top: 30px;
    left: auto;
}

}



